body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 250px;
  overflow-wrap: break-word;
  border: 2px solid rgb(228, 156, 216);
  padding: 10px 0;
  margin: 25px auto 0 auto;
  border-radius: 5px;
}
.employeeImg {
  width: calc(100% - 50px);
  margin-left: 25px;
  margin-top: 5px;
}
.employeeName {
  color: rgb(109, 200, 236);
  font-size: 24px;
  font-weight: 700;
  margin-left: 25px;
}
.employeeDetailWrapper {
  margin-top: 10px;
  margin-left: 25px;
}
.employeeDetailLbl {
  color: #aeaeae;
  font-size: x-small;
}
.employeeDetail {
  font-weight: 600;
}
